<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>video project</title>
</head>
<body style="text-align: center">
<a th:href="@{/video/newVideo}">
    <button>新建视频</button>
</a><br><br>
<div>已有视频列表</div>
<table border="1" cellspacing="0" style="margin: auto">
    <thead>
    <tr>
        <td>wafe</td>
        <td>wafe</td>
        <td>wafe</td>
        <td>wafe</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>few</td>
        <td>few</td>
        <td>few</td>
        <td>few</td>
    </tr>
    </tbody>
</table>

</body>
</html>