<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>video project</title>
</head>
<body style="text-align: center">
<a th:href="@{/video/newVideo}">
    <button>新建视频</button>
</a><br><br>
<div>已有视频列表</div>
<table border="1" cellspacing="0" style="margin: auto">
    <thead>
    <tr>
        <td>NO</td>
        <td>title</td>
        <td>createTime</td>
        <td>viewCount</td>
        <td>cdnState</td>
        <td>size</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="video,stat:${videoList}">
        <td th:text="${stat.count}"></td>
        <td><a th:href="${BASE_URL}+'/video/watch?key='+${video.key}"
               target="_blank" th:text="${video.title}"></a></td>
        <td th:text="${#dates.format(video.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${video.viewCount}"></td>
        <td th:text="${video.cdnPreload.state}"></td>
        <td th:text="${video.videoFile.fileSize}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>